/* MAIN CONTENT */

.main-content{
    max-width: 80vw ;
    background-color: #121212;
    margin-top: 0px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 100px;
    padding: 45px 40px;
    border-radius: 8px;
}

.main-content .main-content__text{
    display: flex;
    flex-direction: column;
    font-family: var(--font-dm-sans);
}
.main-content .main-content__text-title{
    font-weight: bolder;
    font-size: 56px; 
}
.main-content .main-content__text-subtitle{
    margin-top: 50px;
    font-weight: bolder;
    font-size: 42px;
}


